*.pkle
/.csync_journal.db
evolution_of_heredity/out/*
__pycache__/*
__pycache__/
.ipynb_checkpoints/*
.ipynb_checkpoints/
*.egg-info
/estaudel/.mypy_cache/
/estaudel/heredity/.mypy_cache/
/evolution_of_heredity/.mypy_cache/
